/* ESTILOS PERSONALIZADOS PARA LA PÁGINA DEL CATÁLOGO */
main { min-height: 70vh; }
aside .card { border-left: 4px solid #0d6efd; }

.card:hover {
    transform: translateY(-5px);
    transition: 0.3 ease;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
}

.navbar-categorias {
    background-color: #1f1f1f;
    font-family: 'Poppins', sans-serif;
}

.navbar-categorias .navbar-nav {
    flex: 1;
    justify-content: space-around;
}

.navbar-categorias .nav-link:hover {
    background-color: #363535;
    color: #ffffff !important;
}